.main-content {
  margin-bottom: 50px;
}

.grid-movie-title {
  display: grid;
  grid-template-areas: 'movie . paginate';
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1fr;
  margin-bottom: 30px;
  font-size: 18px;
  color: #ffffff;
  width: inherit;

  .movieType {
    grid-area: movie;
    text-align: left;
    padding: 8px 25px;
  }

  .paginate {
    grid-area: paginate;
    text-align: right;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 350px) {
  .grid-movie-title {
    .movieType {
      padding: 8px 10px;
      font-size: 17px;
    }
  }
}
